@model QLShopLapTop.Models.KHACHHANG
@using QLShopLapTop.Models
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<h2>ĐĂNG KÝ THÀNH VIÊN</h2>
<table class="table" style="width: 50%; margin-left: 15%">
    @using (Html.BeginForm( FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <tr>
            <td style="text-align:right;">Họ Tên: </td>
            <td>
                @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.TenKH)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Ngày sinh: </td>
            <td>
                @Html.TextBoxFor(model => model.NgaySinh, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.NgaySinh)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Giới tính:</td>
            <td>
                @Html.TextBoxFor(model => model.GioiTinh, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.GioiTinh)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Địa chỉ: </td>
            <td>
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.DiaChi)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Số điện thoại:</td>
            <td>
                @Html.TextBoxFor(model => model.SDT, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.SDT)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Email: </td>
            <td>
                @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control", @type = "email" })
                @Html.ValidationMessageFor(model => model.EMAIL)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">Mật khẩu: </td>
            <td>
                @Html.PasswordFor(model => model.MATKHAU, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(model => model.MATKHAU)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; vertical-align: middle;">
                <input type="submit" value="Đăng Ký" class="btn btn-primary" style="width: 200px; height: 50px" />
            </td>

        </tr>
    }

</table>
   
<div>
    <p>
        Đã có tài khoản? đăng nhập
        <a href="">
            @Html.ActionLink("tại đây!", "DangNhap", "NguoiDung")
        </a>
    </p>
</div>
<p style="color:red; text-align:center;">
    @ViewBag.Message
</p>